{% extends "base.html" %}
{% load static %}
{% block css %}
     <style>
     .padding-bottom-3x {
         padding-bottom: 72px !important
     }

     .card-footer {
         background-color: #fff
     }

     .btn {
         font-size: 13px
     }

     .form-control {
         color: #dedfe1;
         background-color: #fff;
         border-color: #dedfe1;
         outline: 0;
         {#box-shadow: 0 0 0 0px #28a745 ;#}
         max-width: 550px;
     }
     </style>
{% endblock css %}
{% block body %}
    <br >
	<div class="container padding-bottom-3x mb-2 mt-5">
	    <div class="row justify-content-center">
	        <div class="col-lg-8 col-md-10">
	            <form class="card mt-4" method="POST">
                    {% csrf_token %}
	                <div class="card-body">
	                    <div class="form-group">
                            <p>
                                <label for="id_email"> ایمیل خود را وارد نمایید :</label>
                                <input type="email" class="form-control" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
                               </p>
                            <small class="form-text text-muted" style="padding-top: 5px;">آدرس ایمیلی را که در هنگام ثبت نام در سایت استفاده کرده اید وارد کنید. سپس پیوندی به این آدرس ایمیل می‌کنیم.</small> </div>
	                </div>
                    <div class="card-footer"> <button class="btn btn-success" type="submit" name="Password reset"> تغییر رمز عبور </button> <a href="{% url 'account_login' %}"> <button class="btn btn-danger" type="button"> بازگشت به صفحه ورود </button></a> </div>
	            </form>
	        </div>
	    </div>
	</div>
{% endblock body %}